.contacto{
    width: 90%;
    margin: auto;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.08);
    text-align: center;
    padding: 2%;
}
.contacto h1{
    font-family: 'Jost', sans-serif;
    font-style: bold;
    font-size: 50px;
}