html {
  scroll-behavior: smooth;
  scroll-padding-top: 10%;
}

body {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  box-sizing: border-box;

  margin: 2%;
  min-height: 100vh;
  background-image: url('../assets/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;

}

a,button{
  color: black;
  text-decoration: none;
  margin-left: 2%;
  transition: transform 0.3s ease;
  display: inline-block;
  /* permite usar transform */
}

a:hover,button:hover{
  transform: scale(1.15);
}

a:active,button:active{
  color: white;
}

.proyectos {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  padding: 2%;
}

@media (max-width: 480px) {
  body {
    font-size: 15px;
    margin: 5%;
    background-attachment: scroll; /* más fluido en móviles */
  }

  a, button {
    margin-left: 0;
    margin-right: 0;
  }

  .proyectos {
    flex-direction: column; /* todos los proyectos uno debajo del otro */
    gap: 15px;
    padding: 2%;
  }
}
