.navbar{
    /*Para que este siempre presente mientras scrolleas*/
    position: sticky;
    top: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    /* sombra discreta */
    backdrop-filter: blur(4px);
    /* da efecto de vidrio */
    
}

.navbar ul {
    list-style: none;
    width: 95%;
    margin: auto;
    padding: 3px 0px;
    display: flex;
    justify-content: space-around;
    padding: 5px 20px;
}

.navbar li a {
    border-radius: 50px;
    text-align: center;
    width: 100%;
    padding: 5px 15px;
    color: white;
}
.navbar li a:active,.idioma:active {
    color: black;
}
.idioma {
  font-family: 'Poppins';
  color: white;
  font-size: 16px;
  background: none;
  border: none;
  margin-left: 20px; /* separa del resto */
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 20px;
  background:none;
  transition: background-color 0.3s ease;
  transition: transform 0.3s ease;
}
@media (max-width: 576px) {

 .navbar {
    border-radius: 25px;
    padding: 0;
    
  }

  .navbar ul {
    gap: 8px;
  }
  .navbar li a{
    padding: 0px;
    margin: 0%;
    font-size: 11px;
  }
  .idioma {
    padding: 0;
    margin: 0px;
    font-size: 10px;
}
}

